<template>
    <section>
        <div class="container main" :tmp=test()>
            <div class="row" v-for="item in info.data.place.schedules" :key="item.id">
               <div class="col-12">
                   <div class="main-block">
                       <div class="main-title" v-if="item.isMain">
                           Часы работы <span class="text-right" v-if="open_time"> Открыто </span> <span v-else> Закрыто </span>
                       </div>
                       <div class="main-title" v-else>
                           {{item.name}}
                       </div>
                       <div class="main-time-block d-flex ">
                           </div>
                           <div class="d-flex justify-content-between align-items-center">
                               <div class="main-days">
                                    {{day(item.items)}}
                                </div>
                                <div class="main-time">
                                    <span class="text-right position-relative open"  v-if="open(item.items)"> Открыто </span>
                                    <span class="text-right position-relative close-text" v-else> Закрыто </span>
                                    {{time(item.items)}}
                                </div>
                           </div>

                       </div>
                   </div>
               </div>
            </div>
    </section>
</template>

<script>
export default {
    data() {
        return {
            dayObj: ["","Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"],
            open_time: true
        }
    },
    methods: {
        test(e) {
           console.log(e)
        },
        open(e) {
          console.log(e)
          let data = new Date();
          let openData,closeData,xHourOpen,xMinOpen,yHourClose,yMinCLose;


          e.forEach(function(elem) {
           openData = new Date;
           closeData = new Date;

          xHourOpen = parseInt(elem.startAt);
          xMinOpen = parseInt(elem.startAt.split(':')[1]);
          yHourClose = parseInt(elem.endAt);
          yMinCLose = parseInt(elem.endAt.split(':')[1]);
          openData.setHours(xHourOpen, xMinOpen, 0);
          closeData.setHours(yHourClose, yHourClose, 0);

          });
          if (xHourOpen > yHourClose) {
            closeData.setDate(closeData.getDate() + 1)
          }
          if ((closeData > data) && ((openData < data))) {
           return true
          } else {
           return false
          }

        },
        time (e) {
            let data = new Date()
            let hour = data.getHours();
            let min = data.getMinutes();
            let time = parseInt(hour+""+min);
            let rest_time;

            let x,y;

            e.forEach(function(elem, i) {

                 x = parseInt(elem.endAt.replace(':',''));
                 y = parseInt(elem.startAt.replace(':',''));
                rest_time = elem.startAt + " - " + elem.endAt;
            })
            if ((y == 0) && (x == 2359)) {
                rest_time = "Круглосуточно"
            }



            return rest_time
        },

        day(e) {
            let x = [] ;
            let y = this.dayObj;
            e.forEach(function(elem, i) {
                x +=" " + y[elem.dayOfWeek]
            })
            return x
        }
    },
    props: {
        info: Object
    }
}
</script>
