<template>
  <div id="app" :tmp="test(showbody())">

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-3 col-sm-6">
          <div class="input-block d-flex flex-column">
            <span>
              Слаг заведения
            </span>
            <input type="text" v-model="val">
            <button class="btn" @click="getInfo">Обновить</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container" v-if="showbody()">
      <div class="row">
        <div class="col-4 col-md-8 col-sm-12">
          <h1> {{error_info()}}</h1>
        </div>
      </div>
    </div>
    <div class="container" v-else>
      <div class="row">
        <div class="col-4 col-md-8 col-sm-12">
          <bodyinfo
          :info= todoList()
          ></bodyinfo>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
 import bodyinfo from './component/body'
export default {

  name: 'app',
  components: {
      bodyinfo
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      val: '',
      text: this.$store.state.msg
    }
  },
  methods: {
    getInfo() {
        this.$store.dispatch('GET_INFO', this.val);
    },
    test(e){
      console.log(e)
    },
    showbody() {
      return this.$store.getters.SHOWBODY;
    },
    todoList () {
      return this.$store.getters.INFO;
    },
    error_info () {
      return this.$store.getters.ERROR;
    }
  },
  mounted() {

  },
  computed () {

  }
}
</script>

<style lang="scss">
</style>
