@font-face {
    font-family: "Rubik";
    src: url("Rubik.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  };

#app {
    margin-top: 50px
}

body {
    font-family: "Rubik"
}
.container.main {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
}

.main {
    &-time {
        display: flex;
        flex-direction: column;
    }
    &-title {
        font-size: 18px;
    }
    &-block {
        margin-bottom: 40px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    }
}
.input-block {
    input {
      padding: 10px 20px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 3px;
      margin-bottom: 20px;
      font-size: 18px;
    }
}
.btn {
    background: #EE514A;
    border-radius: 3px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: white;
    padding: 10px 0;
    &:hover {
        color: white;

    }
}
.open {
  &:after {
  content: "";
    width: 10px;
    background: red;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    left: 20px;
    top: 26%;
  }
}
.close-text {
  &:after {
    content: "";
    width: 10px;
    background: gray;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    left: 13px;
    top: 26%;
  }
}
